<div class="row">
	<div class="col-md-12">
		<div class="jumbotron">
			HEADER
		</div>
	</div>
</div>




<div class="row">
	<div class="col-md-3">
	  <div class="card">
        <div class="card-body">
            <p>stats</p>
        </div>
      </div>
	</div>
	<div class="col-md-6">
		<div class="card">
        <div class="card-body">
		<p>feed</p>
	</div>
</div>
	</div>
	<div class="col-md-3">
		<div class="card">
        <div class="card-body">
		<p>about</p>
	    </div>
        </div>
	</div>
</div>

<div class="row mt-4">
<div class="col-md-3 ml-auto">
		<div class="card">
          <div class="card-body">
		    <p>trends</p>
	      </div>
        </div>
</div>
</div>
