<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <img class="navbar-brand" src="/icon.png">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="/explore">Moments</a></li>
      <li class="nav-item"><a class="nav-link" href="/home">Notifications</a></li> 
      <li class="nav-item"><a class="nav-link" href="/home">Messages</a></li>
    
    </ul>
     

      <ul class="navbar-nav">
           <li>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search Twitter" aria-label="Search">
   
    </form>
  </li>
     
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/profile.png" class="rounded-img"height="25px" width="25px">
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="/user/<%= current_user.username %>">Profile</a></li>
          <div class="dropdown-divider"></div>
          <li class="dropdown-item" href="#">Help</li>
          <div class="dropdown-divider"></div>
          <li>
          <%= link_to('Settings', edit_user_registration_path, class: "dropdown-item") %></li>
          <div class="dropdown-divider"></div>
          <li>
          <%= link_to('Log Out', destroy_user_session_path, :method => :delete, class: "dropdown-item") %></li>
        </ul>
      </li>
       <li type="button"><a class="nav-item btn btn-primary navbar-btn">
        Add Post
      </a>
      </li>
    </ul>

  </div>
</nav>






  


























































